<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${achievement.id} ? 'Modification d\'une réalisation' : 'Création d\'une réalisation'">Réalisations</title>
        <link rel="stylesheet" href="/css/style.css">

        <!-- Google icons and fonts importation -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <div th:replace="navbar.html :: navbar"></div>
        <div class="container">
            <br><br>
            <form method="post" th:action="@{/admin/achievement}" th:object="${achievement}">
                <input name="idAchievement" th:value="*{id}" type="hidden">
                <div class="row">
                    <div class="input-field col s12 l8">
                        <i class="material-icons prefix">assignment_turned_in</i>
                        <label for="achievement-title">Nom de la réalisation :</label>
                        <input id="achievement-title" name="achievement-title" placeholder="Nom du projet" required th:field="*{title}" type="text">
                    </div>
                    <div class="col s12 l4">
                        <label for="achievement-date">Date :</label>
                        <input id="achievement-date"
                               name="date"
                               class="datepicker"
                               value="01/01/2021"
                               required th:field="*{date}"
                               type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6 xl8">
                        <i class="material-icons prefix">folder_open</i>

                        <select id="achievementCategory-id" th:field="*{achievementCategory.id}" required>
                            <option value="0" disabled selected>Sélectionner une catégorie</option>
                            <option th:each="achievementCategory : ${achievementCategories}"
                                    th:value="${achievementCategory.id}"
                                    th:text="${achievementCategory.name}">Catégorie</option>
                        </select>
                        <label for="achievementCategory-id">Catégorie :</label>
                    </div>
                    <div class="col s12 l6 xl4 center-align">
                        <a class="waves-effect waves-light btn green accent-2"
                           href="/admin/achievement-category">
                            <i class="material-icons left">add_circle</i>
                            Ajouter une catégorie
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">short_text</i>
                        <textarea id="achievement-description"
                                  name="description"
                                  placeholder="Description du projet."
                                  th:field="*{description}"
                                  type="text"
                                  class="materialize-textarea">
                        </textarea>
                        <label for="achievement-description">Description :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">link</i>
                        <label for="achievement-url">URL :</label>
                        <input id="achievement-url" name="url" placeholder="URL du projet"  th:field="*{url}" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business_center</i>
                        <select id="skill" multiple name="skillIds">
                            <optgroup th:each="skillCategory : ${skillCategoryList}"
                                      th:label="${skillCategory.name}">
                                <option th:each="skill : ${skillListForSelection}"
                                        th:text="${skill.name}"
                                        th:value="${skill.id}"
                                        th:if="${(skill.skillCategory.getId() == skillCategory.getId())
                                        && !achievement.getAchievementSkills().contains(skill)}">Compétence
                                </option>
                            </optgroup>
                        </select>
                        <label for="skill">Ajouter des compétences mobilisées :</label>
                    </div>
                </div>
                <h6 class="center-align">Compétences associées</h6> <!--TODO  trier les compétences à afficher par catégories puis par ordre alphabétique-->
                <div class="row">
                    <div class="col s12 l8 offset-l2 xl6 offset-xl3">
                        <table>
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th></th> <!--TODO : ajouter un chemin vers l'édition de la compétence pour la modifier-->
                                <th></th> <!--TODO : ajouter un chemin pour dissocier la compétence de la formation-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="skill : ${achievement.achievementSkills}">
                                <td th:text="${skill.id}">id</td>
                                <td th:text="${skill.name}">name</td>
                                <td><i class="material-icons right">edit</i></td>
                                <td><a th:href="@{/admin/achievement(id=${achievement.id}, skillId=${skill.id})}"><i class="material-icons right">block</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l6 offset-l3 xl8 offset-xl2 center-align">
                        <div class="row">
                            <div class="col s6">
                                <a class="btn waves-effect waves-light yellow darken-1" th:href="@{/admin#achievementsSection}" name="action">
                                    <i class="material-icons left">undo</i>
                                    Retour
                                </a>
                            </div>
                            <div class="col s6">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                                    <i class="material-icons right">check</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <!--    TODO: add the skills-->
            </form>


        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('select').formSelect();
            });
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    autoClose: true,
                    today: 'Today',
                    clear: 'Réinitialiser',
                    close: 'Close',
                    firstDay: true,
                    selectMonths: true,
                    yearRange: [1980,2030],
                    labelMonthNext: 'Mois suivant',
                    labelMonthPrev: 'Mois précédent',
                    labelMonthSelect: 'Sélectionner un mois',
                    labelYearSelect: 'Sélectionner une année',
                    format: 'dd/mm/yyyy',
                    i18n: {
                        months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                        monthsShort: ["Janv", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Aoû", "Sep", "Oct", "Nov", "Dec"],
                        weekdays: ["Dimanche","Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                        weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                        weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
                        cancel:'Annuler'
                    }
                });
            });
        </script>

    </body>
</html>