<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${achievementCategory.id} ? 'Modification d\'une catégorie de réalisation' : 'Création d\'une catégorie de réalisation'">Catégories de réalisations</title>
</head>
<body>

<form method="post" th:action="@{/admin/achievement-category}" th:object="${achievementCategory}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="achievement-title">Nom de la catégorie de réalisation :</label>
    <input id="achievement-title" name="achievement-title" placeholder="Nom du projet" required th:field="*{name}" type="text">
    <br><br>

<!--    TODO: add the skills-->
    <input type="submit" value="Valider">
</form>

<br>
<a href="/admin">Retour</a>

</body>
</html>