<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${experience.id} ? 'Modification d\'une expérience' : 'Création d\' expérience'">Expérience</title>
        <link rel="stylesheet" href="/css/style.css">

        <!-- Google icons and fonts importation -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <div th:replace="navbar.html :: navbar"></div>
        <div class="container">
            <br><br>
            <form th:action="@{/admin/experience}" method="post" th:object="${experience}">
                <input name="idExperience" th:value="*{id}" type="hidden">

                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">assignment_ind</i>
                        <label for="experience-job-title">Intitulé du poste :</label>
                        <input id="experience-job-title"
                               name="job-title"
                               placeholder="Développeur"
                               required
                               th:field="*{jobTitle}"
                               type="text">
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">domain</i>
                        <input id="experience-company-name"
                               name="company-name"
                               placeholder="Google"
                               required
                               th:field="*{companyName}"
                               type="text">
                        <label for="experience-company-name">Entreprise :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">short_text</i>
                        <textarea id="experience-description"
                                  name="description"
                                  placeholder="Au sein d'une agence web, ..."
                                  th:field="*{description}"
                                  type="text"
                                  class="materialize-textarea">
                        </textarea>
                        <label for="experience-description">Description du contexte :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">list</i>
                        <textarea id="experience-main-mission"
                                  name="main-mission"
                                  placeholder="développement de fonctionnalité, intégration de page web, ..."
                                  th:field="*{mainMission}"
                                  type="text"
                                  class="materialize-textarea">
                        </textarea>
                        <label for="experience-main-mission">Description des missions principales :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">timer</i>
                        <label for="experience-duration">Durée :</label>
                        <input id="experience-duration"
                               name="duration"
                               placeholder="6 mois"
                               th:field="*{duration}"
                               type="text">
                    </div>
                    <div class="col s12 l4">
                        <label for="experience-start-date">Date de prise de poste :</label>
                        <input id="experience-start-date"
                               name="start-date"
                               class="datepicker"
                               value="01/01/2021"
                               required th:field="*{startDate}"
                               type="text">
                    </div>
                    <div class="col s12 l4">
                        <label for="experience-end-date">Date de fin du contrat :</label>
                        <input id="experience-end-date"
                               name="end-date"
                               class="datepicker"
                               value="01/01/2021"
                               required
                               th:field="*{endDate}"
                               type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">gps_not_fixed</i>
                        <label for="experience-sector">Secteur d'activité :</label>
                        <input id="experience-sector"
                               name="sector"
                               placeholder="Industrie automobile"
                               th:field="*{sector}"
                               type="text">
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">description</i>
                        <select id="experience-contract-type"
                                th:field="*{contractType}" required>
                            <option value="0" disabled selected>Sélectionner un type de contrat :</option>
                            <option value="CDI">CDI</option>
                            <option value="CDD">CDD</option>
                            <option value="stage">stage</option>
                            <option value="intérim">intérim</option>
                        </select>
                        <label for="experience-contract-type">Type de contrat :</label>
<!--                        <input id="experience-contract-type"
                               name="contract-type"
                               placeholder="CDI"
                               th:field="*{contractType}"
                               type="text">-->
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">location_on</i>
                        <label for="experience-city">Ville :</label>
                        <input id="experience-city"
                               name="city"
                               placeholder="Nantes"
                               required
                               th:field="*{city}"
                               type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">photo</i>
                        <label for="experience-illustration">URL d'une illustration de l'expérience :</label>
                        <input id="experience-illustration"
                               name="experience-illustration"
                               placeholder="URL de l'image"
                               th:field="*{experienceIllustrationUrl}"
                               type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business_center</i>
                        <select id="skills" multiple name="skillIds">
                            <optgroup th:each="skillCategory : ${skillCategoryList}"
                                      th:label="${skillCategory.name}">
                                <option th:each="skill : ${skillListForSelection}"
                                        th:text="${skill.name}"
                                        th:value="${skill.id}"
                                        th:if="${(skill.skillCategory.getId() == skillCategory.getId())
                                        && !experience.getExperienceSkills().contains(skill)}">Compétence
                                </option>
                            </optgroup>
                        </select>

             <!--           <select id="skills" multiple th:field="*{skills}">
                            <option value="" disabled selected>Sélectionner des compétences</option>
                            <option th:each="skill : ${skillList}" th:value="${skill.name}" th:text="${skill.name}"></option>
                        </select>-->
                        <label for="skills">Ajouter des compétences mobilisées :</label>
                    </div>
                </div>
                <h6 class="center-align">Compétences associées</h6> <!--TODO  trier les compétences à afficher par catégories puis par ordre alphabétique-->
                <div class="row">
                    <div class="col s12 l8 offset-l2 xl6 offset-xl3">
                        <table>
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th></th> <!--TODO : ajouter un chemin vers l'édition de la compétence pour la modifier-->
                                <th></th> <!--TODO : ajouter un chemin pour dissocier la compétence de la formation-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="skill : ${experience.experienceSkills}">
                                <td th:text="${skill.id}">id</td>
                                <td th:text="${skill.name}">name</td>
                                <td><i class="material-icons right">edit</i></td>
                                <td><a th:href="@{/admin/experience(id=${experience.id}, skillId=${skill.id})}"><i class="material-icons right">block</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l6 offset-l3 xl8 offset-xl2 center-align">
                        <div class="row">
                            <div class="col s6">
                                <a class="btn waves-effect waves-light yellow darken-1" th:href="@{/admin#experiencesSection}" name="action">
                                    <i class="material-icons left">undo</i>
                                    Retour
                                </a>
                            </div>
                            <div class="col s6">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                                    <i class="material-icons right">check</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('select').formSelect();
            });
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    autoClose: true,
                    today: 'Today',
                    clear: 'Réinitialiser',
                    close: 'Close',
                    firstDay: true,
                    selectMonths: true,
                    yearRange: [1980,2030],
                    labelMonthNext: 'Mois suivant',
                    labelMonthPrev: 'Mois précédent',
                    labelMonthSelect: 'Sélectionner un mois',
                    labelYearSelect: 'Sélectionner une année',
                    format: 'dd/mm/yyyy',
                    i18n: {
                        months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                        monthsShort: ["Janv", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Aoû", "Sep", "Oct", "Nov", "Dec"],
                        weekdays: ["Dimanche","Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                        weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                        weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
                        cancel:'Annuler'
                    }
                });
            });
        </script>
    </body>
</html>