<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'administration</title>
</head>
<body>
<header>
    <h2>Page d'administration</h2>
</header>
<section>
    <h3>Gestion des expériences</h3>
    <!-- TODO: afficher toutes les expériences -->
    <!-- TODO: Ajouter un bouton d'ajout -->
    <!-- TODO: Ajouter un bouton d'édition -->
    <!-- TODO: Ajouter un bouton de suppression -->
</section>
<section>
    <h3>Gestion des formations</h3>
    <!-- TODO: afficher toutes les formations -->
    <!-- TODO: Ajouter un bouton d'ajout -->
    <!-- TODO: Ajouter un bouton d'édition -->
    <!-- TODO: Ajouter un bouton de suppression -->
</section>
<section>
    <h3>Gestion des compétences</h3>
    <!-- TODO: afficher toutes les compétences -->
    <!-- TODO: Ajouter un bouton d'ajout -->
    <!-- TODO: Ajouter un bouton d'édition -->
    <!-- TODO: Ajouter un bouton de suppression -->
</section>
<section>
    <h3>Gestion des réalisations</h3>
    <!-- TODO: afficher toutes les réalisations -->
    <!-- TODO: Ajouter un bouton d'ajout -->
    <!-- TODO: Ajouter un bouton d'édition -->
    <!-- TODO: Ajouter un bouton de suppression -->
</section>
</body>
</html>