<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>CV</title>
        <link rel="stylesheet" href="/css/style.css">

        <!-- Google icons and fonts importation -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <header>
            <div th:replace="navbar.html :: navbar"></div>
        </header>
        <div id="experienceSection"></div>
        <section class="experienceSection">
            <div>
                <h3 class="center-align">
                    EXPÉRIENCE
                </h3>
            </div>
            <div class="row">
                <div th:each="experience : ${experiences}" class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img th:src="${experience.experienceIllustrationUrl}">
                            <span class="card-title">
                                <p th:text="${experience.jobTitle}"></p>
                                <h6 th:text="|chez ${experience.companyName}|"></h6>
                            </span>
                            <a class="btn-floating halfway-fab activator waves-effect waves-light orange darken-2">
                                <i class="material-icons">
                                    expand_more
                                </i>
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s1">
                                    <i class="tiny material-icons">
                                        date_range
                                    </i>
                                </div>
                                <div class="col s5">
                                    <p th:text="|${#calendars.format(experience.startDate,'yyyy')} – ${#calendars.format(experience.endDate,'yyyy')}|">
                                        dates
                                    </p>
                                </div>
                                <div class="col s1">
                                    <i class="tiny material-icons">
                                        description
                                    </i>
                                </div>
                                <div class="col s5">
                                    <p th:text="${experience.contractType}">
                                        type de contrat
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s1">
                                    <i class="tiny material-icons">
                                        watch_later
                                    </i>
                                </div>
                                <div class="col s5">
                                    <p th:text="${experience.duration}">
                                        durée
                                    </p>
                                </div>
                                <div class="col s1">
                                    <i class="tiny material-icons">
                                        location_on
                                    </i>
                                </div>
                                <div class="col s5">
                                    <p th:text="${experience.city}">
                                        Ville
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                 <i class="material-icons right">close</i>
                                <h6>Contexte</h6>
                            </span>
                            <p th:text="${experience.description}">Description</p><br>
                            <h6>Missions principales</h6>
                            <p th:text="${experience.mainMission}">Missions principales</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div id="educationSection"></div>
        <section class="experienceSection">
            <div>
                <h3 class="center-align">
                    ÉTUDES ET FORMATIONS
                </h3>
            </div>

            <div class="row">
                <div th:each="course : ${courses}" class="col s12 m4"> <!--TODO: adapter le responsive ici-->

                        <div class="small card">
<!--                            <div class="card-image">
&lt;!&ndash;
                            TODO: mettre une ligne de couleur bleu ou violette ici pour dire quel type de formation c'est
&ndash;&gt;
                            </div>-->
                                <div class="card-content">
                                    <a class="btn-floating activator right waves-effect waves-light orange darken-2">
                                        <i class="material-icons">
                                            expand_more
                                        </i>
                                    </a>
                                    <span class="card-title">
                                        <p th:text="${course.courseTitle}"></p>
                                        <h6 th:text="|par ${course.schoolName}|"></h6>

                                    </span>
                                    <br/>
                                    <div class="row">
                                        <div class="col s1">
                                            <i class="tiny material-icons">
                                                date_range
                                            </i>
                                        </div>
                                        <div class="col s5">
                                            <p th:text="|${#calendars.format(course.startDate,'yyyy')} – ${#calendars.format(course.endDate,'yyyy')}|">
                                                dates
                                            </p>
                                        </div>
                                        <div class="col s1">
<!--                                            <i class="tiny material-icons">
                                                description
                                            </i>-->
                                        </div>
                                        <div class="col s5">
<!--                                            <p th:text="${experience.contractType}">
                                                type de contrat
                                            </p>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s1">
                                            <i class="tiny material-icons">
                                                watch_later
                                            </i>
                                        </div>
                                        <div class="col s5">
                                            <p th:text="${course.duration}">
                                                durée
                                            </p>
                                        </div>
                                        <div class="col s1">
                                            <i class="tiny material-icons">
                                                location_on
                                            </i>
                                        </div>
                                        <div class="col s5">
                                            <p th:text="${course.city}">
                                                Ville
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-action">
<!--
                                    TODO: mettre des icônes de compétences ici
-->
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <i class="material-icons right">close</i>
                                        <h6>Contexte</h6>
                                    </span>
                                    <p th:text="${course.description}">Description</p><br>
                                </div>
                        </div>
                </div>
            </div>
        </section>




        <div id="skillsSection"></div>
    <!--
    <section class="skillsSection">
        <div><h3>COMPÉTENCES</h3></div>
        <div class="skillContainer">
            <div class="skillCategoryContainer">
    &lt;!&ndash;                TODO: create a Category entity for skills,
                            and add a ManyToMany relation for showing
                            each skill for each category&ndash;&gt;
            </div>
        </div>
    </section>
    -->


        <div id="achievementsSection"></div>

        <section class="experienceSection">
            <div>
                <h3 class="center-align">
                    RÉALISATIONS
                </h3>
            </div>

            <div th:each="achievementCategory : ${achievementCategories}">
                <h4 class="left-align" th:text="${achievementCategory.name}">
                </h4>

                <div class="row">
                    <div th:each="achievement : ${achievements}" class="col s12 m4">
                        <div class="small card horizontal" th:if="${achievement.getAchievementCategory() == achievementCategory}">
<!--                            <div class="card-image waves-effet waves-block waves-light">
                                <img th:if="${achievementCategory.getId() == 1}" src="/pictures/icons/apps-black-48dp.svg">
                                <img th:if="${achievementCategory.getId() == 2}" src="/pictures/icons/receipt_long-black-48dp.svg">
                            </div>-->
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s4">
                                        <i th:if="${achievementCategory.getId() == 1}"
                                           class="medium material-icons">
                                            apps
                                        </i>
                                        <i th:if="${achievementCategory.getId() == 2}"
                                           class="medium material-icons">
                                            receipt_long
                                        </i>
                                    </div>
                                    <div class="col s8">
                                        <span class="card-title">
                                            <p th:text="${achievement.title}">
                                                Titre
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <a class="btn-floating halfway-fab activator waves-effect waves-light orange darken-2">
                                    <i class="material-icons">
                                        expand_more
                                    </i>
                                </a>
                                <div class="row">
                                    <div class="col s1">
                                        <i class="tiny material-icons">
                                            date_range
                                        </i>
                                    </div>
                                    <div class="col s5">
                                        <p th:text="|${#calendars.format(achievement.date,'yyyy/MM')}|">
                                            année
                                        </p>
                                    </div>
                                    <div class="col s1">
                                        <i class="tiny material-icons">
                                            description
                                        </i>
                                    </div>
                                    <div class="col s5">
<!--                                        <p th:text="${experience.contractType}">
                                            type de contrat
                                        </p>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s1">
                                        <i class="tiny material-icons">
                                            watch_later
                                        </i>
                                    </div>
                                    <div class="col s5">
<!--                                        <p th:text="${experience.duration}">
                                            durée
                                        </p>-->
                                    </div>
                                    <div class="col s1">
                                        <i class="tiny material-icons">
                                            location_on
                                        </i>
                                    </div>
                                    <div class="col s5">
<!--                                        <p th:text="${experience.city}">
                                            Ville
                                        </p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">
                                     <i class="material-icons right">close</i>
                                    <h6>Contexte</h6>
                                </span>
<!--                                <p th:text="${experience.description}">Description</p><br>-->
                                <h6>Missions principales</h6>
<!--                                <p th:text="${experience.mainMission}">Missions principales</p>-->
                            </div>
                            <div class="card-action">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>










        <footer th:replace="footer.html :: footer">
        </footer>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit();
            });
        </script>
    </body>
</html>