<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
<header>
    <h1 class="MyNameTitle"> Aurélien Lonni</h1>
    <h2 class="WebsiteTitle">Portfolio</h2>
<!--    <img>--> <!--TODO: import my profile picture-->
    <nav class="filterNav">
        <ul>
            <li>Développeur</li>
            <li>Acousticien</li> <!-- TODO: create content for acoustics-->
            <li>Musicien</li> <!-- TODO: create content for music -->
        </ul>
    </nav>
</header>
<section class="experienceSection">
    <h3>EXPÉRIENCE</h3>

</section>

<section class="courseSection">
    <h3>ÉTUDES ET FORMATIONS</h3>
</section>

<section class="skillsSection">
    <h3>COMPÉTENCES</h3>

</section>

<section class="achievementsSection">
    <h3>RÉALISATIONS</h3>

</section>

<footer> <!--TODO: add real links and datas to this section-->
    <div class="contactDiv">
        <ul>
            <li>Mail</li>
            <li>Téléphone</li>
            <li>Skype</li>
        </ul>
    </div>
    <div class="proSocialNetworksDiv">
        <li>LinkedIn</li>

    </div>
    <div class="devNetworksDiv">
        <li>Github</li>
        <li>CodeWars</li>
        <li>CodingGame</li>
    </div>
    <div class="personalSocialNetworksDiv">
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>YouTube</li>
            <li>SensCritique</li>
        </ul>
    </div>
    <div class="personalSocialNetworksDiv">
        <a>Télécharger mon CV en PDF</a>
<!--        <img>--> <!--TODO: add a download logo-->
    </div>
</footer>

</body>
</html>