<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet"> </head>
<body>
<header>
    <h1 class="myNameTitle"> Aurélien Lonni</h1>
    <div>
        <div class="profilPicDiv">
        </div>
        <div class="websiteTitleAndNavDiv">
            <div class="websiteTitleDiv">
                <h2 class="websiteTitle">Portfolio</h2>
            </div>
            <div class="navDiv">
                <nav class="filterNav">
                    <ul>
                        <li>Développeur</li>
                        <li>Acousticien</li> <!-- TODO: create content for acoustics-->
                        <li>Musicien</li> <!-- TODO: create content for music -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section class="experienceSection">
    <div><h3>EXPÉRIENCE</h3></div>
    <div class="experiencesContainerForDesktop" th:each="experience : ${experiences} ">
        <div class="timeBlock">
            <div class="dateBlock">
                <p th:text="|${#calendars.format(experience.startDate,'yyyy')} – ${#calendars.format(experience.endDate,'yyyy')}|">dates</p>
            </div>
            <div class="durationBlock">
                <p th:text="${experience.duration}">durée</p>
            </div>
        </div>
        <div class="jobBlock">
            <div class="jobHeadBlock">
                <div class="jobSpecBlock">
                    <div class="jobTitleBlock">
                        <p th:text="${experience.jobTitle}">Poste</p>
                    </div>
                    <div class="jobContractBlock">
                        <p th:text="${experience.contractType}">type de contrat</p>
                    </div>
                </div>
                <div class="jobCompanyBlock">
                    <div class="jobCompanyNameBlock">
                        <p th:text="${experience.companyName}">Entreprise</p>
                    </div>
                    <div class="jobCompanyLogoBlock">
                        <img class="companyLogo" alt="logo"
                             th:src="${experience.companyLogoUrl}">
                    </div>
                    <div class="pinAndCityBlock">
<!--
                        TODO: add a location pin icon
-->
                            <p th:text="${experience.city}">Ville</p></div>
                    </div>
                </div>
                <div class="jobDescriptionBlock">
                    <p th:text="${experience.description}">Description</p>
                </div>
                <div class="jobSkillBlock">
                    <!-- TODO: connect skills here-->
                </div>
            </div>
        </div>
    </div>

</section>

<section class="courseSection">
    <h3>ÉTUDES ET FORMATIONS</h3>
</section>

<section class="skillsSection">
    <h3>COMPÉTENCES</h3>

</section>

<section class="achievementsSection">
    <h3>RÉALISATIONS</h3>

</section>

<footer> <!--TODO: add real links and datas to this section-->
    <div class="contactDiv">
        <ul>
            <li>Mail</li>
            <li>Téléphone</li>
            <li>Skype</li>
        </ul>
    </div>
    <div class="proSocialNetworksDiv">
        <li>LinkedIn</li>

    </div>
    <div class="devNetworksDiv">
        <li>Github</li>
        <li>CodeWars</li>
        <li>CodingGame</li>
    </div>
    <div class="personalSocialNetworksDiv">
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>YouTube</li>
            <li>SensCritique</li>
        </ul>
    </div>
    <div class="personalSocialNetworksDiv">
        <a>Télécharger mon CV en PDF</a>
<!--        <img>--> <!--TODO: add a download logo-->
    </div>
</footer>

</body>
</html>