<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <div>
        <h5 class="connexion">CONNEXION</h5>
        <div>
            <form th:action="@{/login}" method="post">
                <div>
                    <div>
                        <div th:if="${param.error}">
                            Email et mot de passe invalide
                        </div>
                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <label for="username">Username:</label>
                        <input id="username" type="text" placeholder="Nom d'utilisateur" name="username"/>
                        <label for="password">Password:</label>
                        <input id="password" type="password" class="validate" placeholder="Mot de passe" name="password"/>
                    </div>
                </div>
                <div class="button-form">
                    <button type="submit">Valider<i>OK</i></button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>