<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Musique</title>
        <link rel="stylesheet" href="/css/style.css">

        <!-- Google icons and fonts importation -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body th:fragment="navbar">
        <div class="navbar-fixed">
            <nav th:if="${homePage}" class="nav-extended red darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="hide-on-small-only">
                            <a href="/" class="brand-logo">
                                Aurélien Lonni
                            </a>
                        </div>
                        <div>
                            <a href="/" class="brand-logo hide-on-med-and-up">
                                A. Lonni
                            </a>
                        </div>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/about">
                                    À PROPOS
                                </a>
                            </li>
                            <li>
                                <a href="/cv">
                                    CV
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a href="/admin">
                                    ADMINISTRATION
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav th:if="${aboutPage}" class="nav-extended green darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="hide-on-small-only">
                            <a href="/" class="brand-logo">
                                Aurélien Lonni
                            </a>
                        </div>
                        <div>
                            <a href="/" class="brand-logo hide-on-med-and-up">
                                A. Lonni
                            </a>
                        </div>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li class="active">
                                <a href="/about">
                                    À PROPOS
                                </a>
                            </li>
                            <li>
                                <a href="/cv">
                                    CV
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a href="/admin">
                                    ADMINISTRATION
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav th:if="${cvPage}" class="nav-extended orange darken-1" id="cvNavbar">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="hide-on-small-only">
                            <a href="/" class="brand-logo">
                                Aurélien Lonni
                            </a>
                        </div>
                        <div>
                            <a href="/" class="brand-logo hide-on-med-and-up">
                                A. Lonni
                            </a>
                        </div>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/about">
                                    À PROPOS
                                </a>
                            </li>
                            <li class="active">
                                <a href="/cv">
                                    CV
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a href="/admin">
                                    ADMINISTRATION
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row hide-on-small-only">
                        <div class="nav-wrapper col s10 center-align">
                            <ul>
                                <li>
                                    <a href="#experienceSection">
                                        Expérience
                                    </a>
                                </li>
                                <li>
                                    <a href="#educationSection">
                                        Formation
                                    </a>
                                </li>
                                <li>
                                    <a href="#skillsSection">
                                        Compétences
                                    </a>
                                </li>
                                <li>
                                    <a href="#achievementsSection">
                                        Réalisations
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s2 center-align">
                            <a class="btn pulse yellow darken-1">
                                Embaucher
                            </a>
                        </div>
                    </div>
                    <div class="row hide-on-med-and-up">
                        <div class="nav-wrapper col s12">
                            <ul>
                                <li class="col s3 center-align" >
                                    <a href="#experienceSection">
                                        <i class="material-icons">work</i>
                                    </a>
                                </li>
                                <li class="col s3 center-align">
                                    <a href="#educationSection">
                                        <i class="material-icons">school</i>
                                    </a>
                                </li>
                                <li class="col s3 center-align">
                                    <a href="#skillsSection">
                                        <i class="material-icons">business_center</i>
                                    </a>
                                </li>
                                <li class="col s3 center-align">
                                    <a href="#achievementsSection">
                                        <i class="material-icons">assignment_turned_in</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- TODO: jouter les filtres par tags dans une barre fixe-->
                </div>
            </nav>
            <nav th:if="${contactPage}" class="nav-extended purple darken-1">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="hide-on-small-only">
                            <a href="/" class="brand-logo">
                                Aurélien Lonni
                            </a>
                        </div>
                        <div>
                            <a href="/" class="brand-logo hide-on-med-and-up">
                                A. Lonni
                            </a>
                        </div>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/about">
                                    À PROPOS
                                </a>
                            </li>
                            <li>
                                <a href="/cv">
                                    CV
                                </a>
                            </li>
                            <li class="active">
                                <a href="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a href="/admin">
                                    ADMINISTRATION
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav th:if="${adminPage}" class="nav-extended brown darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="hide-on-small-only">
                            <a href="/" class="brand-logo">
                                Aurélien Lonni
                            </a>
                        </div>
                        <div>
                            <a href="/" class="brand-logo hide-on-med-and-up">
                                A. Lonni
                            </a>
                        </div>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/about">
                                    À PROPOS
                                </a>
                            </li>
                            <li>
                                <a href="/cv">
                                    CV
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li class="active">
                                <a href="/admin">
                                    ADMINISTRATION
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-content">
                        <ul class="tabs tabs-transparent">
                            <li class="tab">
                                <a href="#experiencesSection">
                                    Expériences
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#coursesSection">
                                    Formations
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#skillsSection">
                                    Compétences
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#achievementsSection">
                                    Réalisations
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#skillCategoriesSection">
                                    Catégories de compétences
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#achievementCategoriesSection">
                                    Catégories de réalisations
                                </a>
                            </li>
<!--
                            TODO: add a user section for changing the password.
-->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="menu-responsive">
            <img src="/pictures/profile-picture.jpg" alt="" class="circle responsive-img" id="profilePic">
            <li>
                <a href="/about">
                    À PROPOS
                    <i class="material-icons">person</i>
                </a>
            </li>
            <li>
                <a href="/cv">
                    CV
                    <i class="material-icons">work</i>
                </a>
            </li>
            <li>
                <a href="/contact">
                    CONTACT
                    <i class="material-icons">email</i>
                </a>
            </li>
            <li>
                <a href="/admin">
                    ADMINISTRATION
                    <i class="material-icons">admin_panel_settings</i>
                </a>
            </li>
            <br>
            <li>
                <a class="sidenav-close" href="#!">
                    fermer
                    <i class="material-icons">close</i>
                </a>
            </li>
        </ul>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit();
            });
        </script>
    </body>
</html>